<div class="inception-scene">
  <div class="inception-lights">
    <span></span><span></span><span></span>
  </div>
  <div class="inception-noise"></div>
</div>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="inception-card p-4 p-md-5">
        <h1 class="inception-title mb-2">New restaurant</h1>
        <p class="inception-sub mb-4">Drop a location into the dream.</p>

        <div class="inception-form">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
